/* Основні стилі сторінки новин */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
}
header {
    background-color: #950000;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}
.news-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.news-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding-bottom: 15px;
    overflow: hidden;
}
.news-card h2, .news-card p {
    margin: 15px;
}
.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
footer {
    text-align: center;
    padding: 10px;
    color: #777;
}